<?xml version = "1.0"?>
<robot name = "agent" xmlns:xacro = "http://www.ros.org/wiki/xacro">
    <!-- ARGUMENTS AND PARAMETERS -->
    <xacro:arg name = "agent_name"      default = "agent1"/>
    <xacro:arg name = "agent_type"      default = "typeA"/>

    <xacro:property name = "prefix" value = "$(arg agent_name)"/>
    <xacro:property name = "type" value = "$(arg agent_type)"/>

    <!-- DEBUG MESSAGES -->
    <DEBUG_MSG value = "Loading prefix with value ${prefix}"/>
    <DEBUG_MSG value = "Loading type with value ${type}"/>

    <!-- INCLUDE FILES -->
    <xacro:include filename = "x3_body.xacro"/>
    <xacro:include filename = "x3_peripherals.xacro"/>
    <!-- <xacro:include filename = "x3_gazebo_properties.xacro"/> -->
</robot>